# checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.DS_Store
*/.DS_Store
*/__pycache__/
scripts/train-vae/__pycache__/

# file types
*.png
*/*.png
*/Untitled*

# directories
training/
tests/
archive/
files/

# specific files
scripts/train-vae/train-vae-S1.ini
tmp_readme.rtf

